<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Candidates</title>
</head>
<body>
<h1>Candidate List</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Full Name</th>
        <th>Email</th>
        <th>Qualification</th>
        <th>Score</th>
    </tr>

    <tr th:each="cand : ${candidates}">
        <td th:text="${cand.id}"></td>
        <td th:text="${cand.fullName}"></td>
        <td th:text="${cand.email}"></td>
        <td th:text="${cand.qualification}"></td>
        <td th:text="${cand.score}"></td>
    </tr>
</table>

</body>
</html>
